In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#three data sets to merge
original_df = pd.read_csv('roiimdb.csv')
rating_df = pd.read_csv('imdbrough.csv')
keyword_df = pd.read_csv('keyword_df.csv')

In [2]:
#add column with imdbcode to original df
original_df['imdbcode'] = original_df.imdblink.apply(lambda x : x[7:].rstrip('/'))

In [6]:
original_df.head()

,Unnamed: 0,level_0,index,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,dom_roi,world_roi,release_month,release_day,release_year,season,imdblink,imdbcode
0,0,0,1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,-0.412899,1.546673,May,20,2011,spring,/title/tt1298650/,tt1298650
1,1,1,2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-0.877822,-0.572108,Jun,7,2019,summer,/title/tt6565702/,tt6565702
2,2,2,3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,0.388403,3.243841,May,1,2015,spring,/title/tt2395427/,tt2395427
3,3,3,4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,0.956408,3.153696,Dec,15,2017,winter,/title/tt2527336/,tt2527336
4,4,4,5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,2.060988,5.710167,Dec,18,2015,winter,/title/tt2488496/,tt2488496

In [8]:
#change column names
rating_df.columns = ['imdbcode', 'movie*', 'year*', 'MPAA Rating','Runtime','Genre','Release Date*', 'Origin', 'IMDB Score','1*','2*']
rating_df

,imdbcode,movie*,year*,MPAA Rating,Runtime,Genre,Release Date*,Origin,IMDB Score,1*,2*
0,tt1298650,Pirates of the Caribbean: On Stranger Tides,2011.0,PG-13,2h 16min,"['Action', 'Adventure', 'Fantasy']",20 May 2011,USA,6.6,NaN,NaN
1,tt6565702,X-Men: Dark Phoenix,2019.0,PG-13,1h 53min,"['Action', 'Adventure', 'Sci-Fi']",7 June 2019,USA,5.8,NaN,NaN
2,tt2395427,Avengers: Age of Ultron,2015.0,PG-13,2h 21min,"['Action', 'Adventure', 'Sci-Fi']",1 May 2015,USA,7.3,NaN,NaN
3,tt2527336,Star Wars: Episode VIII - The Last Jedi,2017.0,PG-13,2h 32min,"['Action', 'Adventure', 'Fantasy']",15 December 2017,USA,7.0,NaN,NaN
4,tt2488496,Star Wars: Episode VII - The Force Awakens,2015.0,PG-13,2h 18min,"['Action', 'Adventure', 'Sci-Fi']",18 December 2015,USA,7.9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1735,tt4266638,Krisha,2015.0,R,1h 23min,['Drama'],18 March 2016,USA,7.2,NaN,NaN
1736,tt1489167,Down Terrace,2009.0,R,1h 29min,"['Crime', 'Drama']",15 October 2010,USA,6.5,NaN,NaN
1737,tt0057840,The Americanization of Emily,1964.0,Approved,1h 55min,"['Comedy', 'Drama', 'Romance']",27 October 1964,USA,7.3,NaN,NaN
1738,tt1247644,Breaking Upwards,2009.0,TV-MA,1h 28min,['Romance'],14 March 2009,USA,6.2,NaN,NaN
1739,tt1880418,Newlyweds,2011.0,Not Rated,1h 35min,"['Comedy', 'Drama']",26 December 2011,USA,6.3,NaN,NaN

In [10]:
#remove unneeded columns
rating_df = rating_df.drop(columns=['movie*', 'year*', 'Release Date*','1*','2*'])
rating_df

,imdbcode,MPAA Rating,Runtime,Genre,Origin,IMDB Score
0,tt1298650,PG-13,2h 16min,"['Action', 'Adventure', 'Fantasy']",USA,6.6
1,tt6565702,PG-13,1h 53min,"['Action', 'Adventure', 'Sci-Fi']",USA,5.8
2,tt2395427,PG-13,2h 21min,"['Action', 'Adventure', 'Sci-Fi']",USA,7.3
3,tt2527336,PG-13,2h 32min,"['Action', 'Adventure', 'Fantasy']",USA,7.0
4,tt2488496,PG-13,2h 18min,"['Action', 'Adventure', 'Sci-Fi']",USA,7.9
...,...,...,...,...,...,...
1735,tt4266638,R,1h 23min,['Drama'],USA,7.2
1736,tt1489167,R,1h 29min,"['Crime', 'Drama']",USA,6.5
1737,tt0057840,Approved,1h 55min,"['Comedy', 'Drama', 'Romance']",USA,7.3
1738,tt1247644,TV-MA,1h 28min,['Romance'],USA,6.2
1739,tt1880418,Not Rated,1h 35min,"['Comedy', 'Drama']",USA,6.3

In [11]:
#merge original and rating dataframes
final_df = pd.merge(original_df,rating_df,on='imdbcode')
final_df

,Unnamed: 0,level_0,index,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,dom_roi,...,release_day,release_year,season,imdblink,imdbcode,MPAA Rating,Runtime,Genre,Origin,IMDB Score
0,0,0,1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,-0.412899,...,20,2011,spring,/title/tt1298650/,tt1298650,PG-13,2h 16min,"['Action', 'Adventure', 'Fantasy']",USA,6.6
1,1,1,2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-0.877822,...,7,2019,summer,/title/tt6565702/,tt6565702,PG-13,1h 53min,"['Action', 'Adventure', 'Sci-Fi']",USA,5.8
2,2,2,3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,0.388403,...,1,2015,spring,/title/tt2395427/,tt2395427,PG-13,2h 21min,"['Action', 'Adventure', 'Sci-Fi']",USA,7.3
3,3,3,4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,0.956408,...,15,2017,winter,/title/tt2527336/,tt2527336,PG-13,2h 32min,"['Action', 'Adventure', 'Fantasy']",USA,7.0
4,4,4,5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,2.060988,...,18,2015,winter,/title/tt2488496/,tt2488496,PG-13,2h 18min,"['Action', 'Adventure', 'Sci-Fi']",USA,7.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,1782,2177,5737,38,"Mar 18, 2016",Krisha,30000.0,144822.0,1.448220e+05,3.827400,...,18,2016,spring,/title/tt4266638/,tt4266638,R,1h 23min,['Drama'],USA,7.2
1743,1783,2178,5740,41,"Oct 15, 2010",Down Terrace,30000.0,9812.0,9.812000e+03,-0.672933,...,15,2010,fall,/title/tt1489167/,tt1489167,R,1h 29min,"['Crime', 'Drama']",USA,6.5
1744,1784,2180,5744,45,"Jan 27, 2017",Emily,27000.0,3547.0,3.547000e+03,-0.868630,...,27,2017,winter,/title/tt0057840/,tt0057840,Approved,1h 55min,"['Comedy', 'Drama', 'Romance']",USA,7.3
1745,1785,2188,5760,61,"Apr 2, 2010",Breaking Upwards,15000.0,115592.0,1.155920e+05,6.706133,...,2,2010,spring,/title/tt1247644/,tt1247644,TV-MA,1h 28min,['Romance'],USA,6.2
1746,1786,2191,5772,73,"Jan 13, 2012",Newlyweds,9000.0,4584.0,4.584000e+03,-0.490667,...,13,2012,winter,/title/tt1880418/,tt1880418,Not Rated,1h 35min,"['Comedy', 'Drama']",USA,6.3

In [12]:
#drop more unneeded columns
final_df = final_df.drop(columns=['Unnamed: 0','level_0','index','id'])

In [13]:
final_df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,dom_roi,world_roi,release_month,release_day,release_year,season,imdblink,imdbcode,MPAA Rating,Runtime,Genre,Origin,IMDB Score
0,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,-0.412899,1.546673,May,20,2011,spring,/title/tt1298650/,tt1298650,PG-13,2h 16min,"['Action', 'Adventure', 'Fantasy']",USA,6.6
1,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08,-0.877822,-0.572108,Jun,7,2019,summer,/title/tt6565702/,tt6565702,PG-13,1h 53min,"['Action', 'Adventure', 'Sci-Fi']",USA,5.8
2,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,0.388403,3.243841,May,1,2015,spring,/title/tt2395427/,tt2395427,PG-13,2h 21min,"['Action', 'Adventure', 'Sci-Fi']",USA,7.3
3,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,0.956408,3.153696,Dec,15,2017,winter,/title/tt2527336/,tt2527336,PG-13,2h 32min,"['Action', 'Adventure', 'Fantasy']",USA,7.0
4,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,2.060988,5.710167,Dec,18,2015,winter,/title/tt2488496/,tt2488496,PG-13,2h 18min,"['Action', 'Adventure', 'Sci-Fi']",USA,7.9

In [15]:
#merge keywords into final_df
final_df = pd.merge(final_df,keyword_df,on='imdbcode')

In [19]:
final_df.to_csv('final_df.csv')